* {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: gray;
    margin-bottom: 20px;
}

a {
    margin-left: 20px;
    margin-top: 25px;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: aqua;
}

h1 {
    display: flex;
    justify-content: center;
}

.table {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 700px;
}

th {
    width: 1000px;
}

tr {
    width: 1000px;
}

td {
    width: 1000px;
    text-align: center;
}