* {
    margin: 0;
}


nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: gray;
    margin-bottom: 20px;
}

a {
    margin-left: 20px;
    margin-top: 25px;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: aqua;
}

.atas {
    text-align: center;
    font-size: 25px;
}

.foto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.foto {
    display: flex;
    justify-content: center;
}

hr {
    height: 2px;
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.biodata h2{
    text-align: center;
}

.biodata pre {
    font-size: 20px;
    margin-right: 3px;
    margin-left: 100px;
    font-family: "Roboto", sans-serif; 
}

.deskripsi h2 {
    text-align: center;
}

.deskripsi p {
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}

